@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Pixelify Sans", sans-serif; 
}

body{
    text-align:center;
    background: linear-gradient(to bottom, rgb(164, 164, 230), white);
    min-height:100vh;
}

main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex{
    width: 100%;
    max-width: 425px;
}

.pokemon_image{
    position: absolute;
    left: 50%;
    bottom: 55%;
    transform: translate(-63%,20%);
    height: 18%;
}

.pokemon_data{
    position: absolute;
    font-weight: 600;
    color: #aaaaaa;
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px,5vw,25px);
}

.pokemon_name{
    color: #393c5b;
    text-transform: capitalize;
}

.form{
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input_search{
    width: 100%;
    padding: 4%;
    outline: none;
    border:2px solid black ;
    border-radius: 5px;
    font-weight: 600;
    color:#393c5b;
    font-size:clamp(8px,5vw,1rem) ;
    box-shadow: -3px 4px 0 #888, -5px 7px 0 black;
}

.buttons{
    position: absolute;
    bottom: 10%;
    left:50% ;
    width: 65%;
    transform: translate(-57%,0);
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid black;
    font-size:clamp(8px,5vw,1rem);
    font-weight: 600;
    color: whitesmoke;
    background-color: #444;
    box-sizing: -2px 3px 0 #222, -4px 6px 0 #000;
}